/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */

::selection {
	background: #205F50; /* Safari */
	color: #FFFFFF;
}

.navbar-inverse .navbar-inner {
	background-color: #070a0a;
	border: none;
	border-bottom: 4px solid #204b6e;
}

.carousel-control {
	background-color: #205f51;
}

body, #content1 {
	background-color: #070a0a;
}

#content1 p.lead {
	color: #204b6e;
	font-weight: bold;
}

.thumbs a {
	background: rgba(32,75,110,0.90);
}

#header {
	border-bottom: 4px solid #204b6e;
}

#connect {
	padding-bottom: 0;
}

#connect h2, #connect p a, #gallery h2 {
	color: #818285;
}

#listen {
	background-color: #205F50;
}

#connect p a {
	font-size: 140%;
}

#connect h2 span {
	font-weight: bold;
	color: #205F50;
}

#connect p a:hover {
	color: #204b6e;
}

#gallery {
	background-color: #31363A;
}

.one {
	background: url(../img/header1.jpg) no-repeat center center;
	background-size: cover;
}

.two {
	background: url(../img/header2.jpg) no-repeat center center;
	background-size: cover;
}

.three {
	background: url(../img/header3.jpg) no-repeat center center;
	background-size: cover;
}

.four {
	background: url(../img/header4.jpg) no-repeat center center;
	background-size: cover;
}

.five {
	background: url(../img/header5.jpg) no-repeat center center;
	background-size: cover;
}

.navbar .nav > .active > a, .navbar .nav a:hover {
	color: #205f51;
}

.navbar .brand {
	padding: 0px 20px 10px;
}

ul.social-icons li a {
	color: #818285;
	font-size: 40px;
	line-height: 100px;
}

ul.social-icons li a {
	font-size: 0;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	height: 78px;
}

.social-icons .facebook {
	background-image: url(../img/icon/facebook.png);
	width: 61px;
}

.social-icons .bandcamp {
	background-image: url(../img/icon/bandcamp.png);
	width: 118px;
}

.social-icons .soundcloud {
	background-image: url(../img/icon/soundcloud.png);
	width: 113px;
}

.social-icons .reverb {
	background-image: url(../img/icon/reverbnation.png);
	width: 76px;
}

.social-icons .twitter {
	background-image: url(../img/icon/twitter.png);
	width: 84px;
}

.social-icons .youtube {
	background-image: url(../img/icon/youtube.png);
	width: 82px;
}

.nav-collapse, .nav-collapse.collapse {
	background-color: #070a0a;
}